body{
    background-color: white;
}
h1{
    text-align: center;
    font-size: larger;
}
.rodape{
    position: absolute;
    width: 100%;
    height: 50px;
    color:rgb(237, 228, 247) ;
    background:rgb(42, 22, 61);
    display: flex;
}
.menuPrincipal{
    position: absolute; 
    background: rgb(204, 91, 219);
    width: 100%;
    height: 45px;
    top: 0;
    display: flex;
    flex-direction: row-reverse;

}

