body{
    background-color: white;
}
h1{
    text-align: center;
    font-size: larger;
}
.rodape{
    position: absolute;
   bottom: 0;
   width: 100%;
   height: 50px;
   background: black;
   color: blanchedalmond;
   display: flex;
   justify-content: center;
   font-size: 20px;
   left: 0;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menuPrincipal{
    position: absolute;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 45px;
    top: 0;
    left: 0;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: start;
    text-transform: uppercase;
}
.conteudo {
    position: absolute;
    top: 45px;
}
nav ul:a{
    display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}

